:root {
  --low-priority: hsl(145, 63%, 42%);
  --medium-priority: hsl(28, 87%, 62%);
  --high-priority: hsl(0, 79%, 63%);
  --accent-colour: hsl(195, 86%, 64%);
  --border-colour: hsl(0, 0%, 31%);
  font-size: 1rem;
}

body {
  display: flex;
  max-width: 500px;
  flex-direction: column;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
}
.title {
  margin: 0 auto;
}


/* Navigation bar */
.navbar {
  display: flex;
  align-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navbar-tabs {
  border: none;
  background-color: white;
  width: 100%;
  padding: 0.5rem 1.2rem;
  font-size: 1.1rem;
  font-weight: 600;
}
.navbar-tabs:nth-child(1) {
  border-right: 2px solid var(--border-colour) ;
}
.navbar-tabs:focus{
  outline: none;
  background-color: var(--low-priority);
}

/* list item style */
.to-do-list, .done-list {
  padding: 0;
}
.to-do-list__card {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  list-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.to-do-list__card__text {
  margin-left: 3% ;
  float: left;
}
.to-do-list__card__priority {
  display: block;
  position: absolute;
  width: 2%;
  height: 100%;
  /* background-color: blue; */
}
.low{
  background-color: var(--low-priority) 
}
.medium {
  background-color: var(--medium-priority)
}

.high{
  background-color: var(--high-priority)
}

.to-do-list__card__checkbox {
  float: right;
}
/* end of list item style */
.new-task-button {
  margin: 0 auto;
  height: 3rem;
  width: 3rem;
  background: none;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2.5rem;
  border-radius: 50%;
}
.new-task-form {
  display: none;
  grid-template-rows: 1fr 1fr 4fr;
  margin: 0.5rem;
  height: 100vh;
}

.new-task-form-row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-task-form__delete-button {
  width: 5rem;
  height: 2.5rem;
  border-radius: 50px;
  background-color: var(--accent-colour);
}

.new-task-form-row-3 {
  display: flex;
  flex-direction: column;
}

.new-task-form__text {
  max-width: 100%;
  min-height: 10rem;
}

.new-task-form__save-button {
  background-color: var(--accent-colour);
  padding: 0.7rem 1rem;
  border-radius: 50px;
  border: 0px;
  font-weight: 600;
  width: 5rem;
  height: 2.5rem;
  margin: 1rem auto;
}
.new-task-form__radio-toolbar {
  border: 0px;
}

.new-task-form__radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.new-task-form__radio-toolbar label {
  display: inline-block;
  padding: 0.7rem 1rem;
  border: 0.2rem solid transparent;
  border-radius: 50px;
  font-weight: 600;
}

.new-task-form__radio-toolbar-button--low {
  background-color: var(--low-priority);
}
.new-task-form__radio-toolbar-button--medium {
  background-color: var(--medium-priority);
}

.new-task-form__radio-toolbar-button--high {
  background-color: var(--high-priority);
}

.new-task-form__radio-toolbar label:hover {
  opacity: 0.8;
}

.new-task-form__radio-toolbar input[type="radio"]:focus + label {
  border: 0.2rem dashed var(--accent-colour);
}

.new-task-form__radio-toolbar input[type="radio"]:checked + label {
  border: 0.2rem solid var(--accent-colour);
}


.hidden {
  display: none;
}


